.startScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.startScreen::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .startScreen {
    padding: 40px;
  }
}
